doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
html
 head
 // 模板的包含:静态的包含头部信息，css文件，js文件,html文件等
  include head
 body
  block desc
   p desc from layout
  block content
</html>