doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
html
 head
  meta(charset="utf-8")
  title mixin
 body
  h2 mixin
  
</html>